<%= render 'navbar' %>

          <div class="inner cover">
            <h1 class="cover-heading">Looking for your Fav Docs!!</h1>
            <p class="lead">You have come to the right place. Here you can browse through some the provided DOCS or create your own categories and list your fav docs. More you add the more it will be helpful to others!</p>
            <p class="lead">
              <%= link_to  "Browse through Categories", "/categories" %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Site brought to you by, <a href="http://asher.io">Ash S©</a>.</p>
            </div>
          </div>

        </div>

    </div>

</div>
    


