<%= render 'navbar' %>

            <% @category.each do |category| %>
                <div class="well">
                    <h1><%= category.name %></h1>
                    <%= link_to  "Details", category_path(category), :class => 'btn btn-danger' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
